# Dependencies
node_modules
.pnpm-store
.eslintcache

# Build
dist
build
.nuxt
.output

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*
!.env.example 

# Coverage
coverage/